################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kohde.Assessment/FileContentIndex/ae9f7291-5e2c-4ea9-bbd6-7f13e284aa58.vsidx
